<div class="flex items-center">
  <div *ngFor="let i of hightlightsSlides; let in = index">
    <div id="slider" class="sm:pr-20 pr-10">
      <div class="video-carousel_container">
        <div class="w-full h-full flex-center rounded-3xl overflow-hidden bg-black">
          <video #video id="{{in}}" [playsInline]="true" preload="auto" muted (ended)="endedVideo()"
            (loadedmetadata)="loadMetaData($event, video, in)" (timeupdate)="timeUpdate($event, video, in)"
            src="{{i.videoPath}}">
          </video>
        </div>
        <div class="absolute top-12 left-[5%]">
          <div *ngFor="let atr of i.textLists">
            <p>{{atr}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative flex-center mt-10">
  <div class="flex-center py-5 px-7 bg-gray-300 backdrop-blur rounded-full">
    <div *ngFor="let i of hightlightsSlides; let in = index"
      class="mx-2 w-3 h-3 bg-gray-200 rounded-full relative cursor-pointer">
      <span (click)="goToVideo(in)"></span>

      <span class="absolute h-full w-full rounded-full" (click)="goToVideo(in)"></span>
    </div>

  </div>
  <button #actionBtn class="control-btn" (click)="videoCarouselActionBtn()">
    <img [src]="actionBtnIcon" alt="">

  </button>
